<!-- adminDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard | Smart Clinic</title>
  <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}">
  <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <script th:src="@{/js/render.js}" defer></script>
  <script th:src="@{/js/util.js}" defer></script>
  <script th:src="@{/js/components/header.js}" defer></script>
  <script th:src="@{/js/components/footer.js}" defer></script>
</head>

<body onload="renderContent()">
  <div class="container">
    <div class="wrapper">
      <div id="header"></div>

      <main class="main-content">
        <h2>Manage Doctors</h2>
        <input type="text" id="searchBar" class="searchBar" placeholder="Search doctors by name">

        <div class="filter-wrapper">
          <select class="filter-select" id="filterTime">
            <option value="">Sort by Time</option>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
          <select class="filter-select" id="filterSpecialty">
            <option value="">Filter by Specialty</option>
            <option value="Cardiologist">Cardiologist</option>
            <option value="Dentist">Dentist</option>
            <option value="Dermatologist">Dermatologist</option>
            <option value="ENT Specialist">ENT Specialist</option>
            <option value="Gastroenterologist">Gastroenterologist</option>
            <option value="General Physician">General Physician</option>
            <option value="Gynecologist">Gynecologist</option>
            <option value="Neurologist">Neurologist</option>
            <option value="Oncologist">Oncologist</option>
            <option value="Ophthalmologist">Ophthalmologist</option>
            <option value="Orthopedist">Orthopedist</option>
            <option value="Pediatrician">Pediatrician</option>
            <option value="Psychiatrist">Psychiatrist</option>
            <option value="Urologist">Urologist</option>
          </select>
        </div>

        <div id="content"></div>
      </main>

      <div id="footer"></div>
    </div>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModal">&times;</span>
      <div id="modal-body"></div>
    </div>
  </div>

  <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
</body>

</html>
