/* doctorDashboard.css – styles specific to the doctor dashboard */

.table-header {
  font-size: 24px;
  color: #015c5d;
  margin-bottom: 30px;
  margin-right: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 20px;
}

thead {
  background-color: #33333310;
  color: #fff;
}

thead th {
  color: #015c5d;
}

td,
th {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f959;
}

tbody tr:nth-child(odd) {
  background-color: #ffffffc0;
}

tbody tr:hover {
  background-color: #015c5d39;
}

.prescription-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.prescription-btn:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.prescription-btn:active {
  transform: scale(0.95);
}

.noPatientRecord {
  font-size: 16px;
  font-style: italic;
  color: grey;
}

.filter-wrapper {
  align-items: center;
}

.today-btn {
  margin-right: 10px;
  margin-top: 0;
  padding: 10px;
  background-color: #015c5d;
}

.today-btn:hover {
  background-color: #003e3e;
}

.date-picker {
  margin-left: 10px;
  margin-top: 13px;
  border-radius: 8px;
  padding: 10px;
  height: 30px;
}
